.App {
  text-align: center;
}

.accordion {
  margin-left: 20px;
  cursor: pointer;
  background-color: rgb(116, 150, 182);
  
  /* border: 1px solid black; */
}

.accordion-item{
  width: 50rem;
  padding-bottom: 10px;
  background-color: rgb(116, 150, 182);
}

.accordion-header{
  display: flex;
  min-height: 50px;
  padding: 10px;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s linear;
  font-size: 2rem;
}

.accordion-title{
  font-size: 2rem;
  font-weight: 500;
  color: #343434;
}